
	<div class="content">
      <div class="login">
         <div class="container">
             <span class="breadcrumbs">
               <a href="index.html">Home</a> |
               <span> Services</span>
             </span>
           </div>
         </div>
         <!-- //breadcrumbs -->
         <!-- /services -->
         
             <div class="services-main">
                 <div class="w3ls-section banner-single">
                     <div class="container">
                       <h4 class="main-title">Change Password</h4>
                   
                       <div class="about-inner-main">
                         <div class="col-md-6 contact-left">
                     
                         </div>
                         <div class="col-sm-offset-3 col-md-8 w3layouts-reg-form contact-form-row-agileinfo">
                          
                           <form action="#" method="post" class="banner_form contact-inner-form">
                        
                   <div class="sec-left">
                     <label class="contact-form-text">Enter Current Password</label>  
                    <br/>
                     <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
                     <i aria-hidden="true"></i>
                    <input  type="password" placeholder="xxxxxx" name="currpass" [(ngModel)] ="currp" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <div class="clearfix"></div>
                  </div>
                  <div class="sec-left">
                      <label class="contact-form-text">Enter New Password</label>  <br/>
                    <i aria-hidden="true"></i>
                    <input  type="password" placeholder="xxxxxx" name="newpass" [(ngModel)] ="newp" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                  </div>
                  <div class="sec-left">
                      <label class="contact-form-text">Confirm Password</label>  <br/>
                      <i aria-hidden="true"></i>
                      <input  type="password" placeholder="xxxxxx" name="cnewpass" [(ngModel)] ="cnewp" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                      <div class="clearfix"></div>
                    </div>
                  <input type="submit" value="Submit" name = "s1" (click) ="onchangepass()">
                <br/>{{msg}}
                </form>
              </div>
              </div>
              </div>
              
        
            <!--login-->

        <!--content-->