<div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li class="active">Order Summary</li>
      </ol>
    </div>
  </div>
  <!-- //breadcrumbs -->
  <!-- register -->
  <div class="register">
    <div class="container">
    <h4 class="main-title">Checkout Here
    <h4>Thanks for shopping on our website. Your order number is {{orderno}}</h4></h4>
  </div>
  </div>