<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Checkout Page</li>
        </ol>
    </div>
  </div>
  <!-- //breadcrumbs -->
  <!-- checkout -->
  <div class="checkout">
    <div class="container">
        <div class="checkout-right">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SL No.</th>	
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Rate</th>
                       
  
                    </tr>
                </thead>
                <tr class="rem1" *ngFor="let x of orders;let i=index">
                    <td class="invert">{{i+1}}</td>
           
                    <td class="invert"><img src="uploads/{{x.ppic}}" height="75"></td>
                    <td class="invert">{{x.name}}</td>
                    <td class="invert">{{x.charges}}</td>
                   
                    
                  </tr>    
            </table>
        </div>
       </div>
        
    </div>
  