<!-- contact -->
<div class="w3ls-section banner-single">
        <div class="container">
          <h4 class="main-title">Login</h4>
            
          <div class="about-inner-main">
           
            <div class="col-sm-offset-3 col-md-8 w3layouts-reg-form contact-form-row-agileinfo">
             
              <form action="#" method="post" class="banner_form contact-inner-form">
                <div class="contact-form-left contact-field1">
            
                  <div class="sec-right">
                    <input placeholder="Email " name="email" type="text"  [(ngModel)] ="un" required="">
                  </div><br/>
                  <div class="sec-right">
                    <i aria-hidden="true"></i>
                    <input placeholder="Password " name="password" type="text" [(ngModel)] ="pass" required="">
                  </div>
               
                </div>
                <div class="contact-form-right contact-field2">
                    <input type="submit" value="Login" name = "s1" (click) ="onlogin()">
                    </div>
                    <br/>{{msg}}<br/><br/>
      
         
          
            <h4 style="color:white;">For new People</h4>
            <p><a routerLink ="/signup">Register Here </a>(Or) go back to <a routerLink ="/sitehome">Home<span class ="glyphicon glyphicon-home"></span></a></p>
            <p><a routerLink ="/signupworker">Register Here (for employees)<br/></a>(Or) go back to <a routerLink ="/sitehome">Home<span class ="glyphicon glyphicon-home"></span></a></p>
            
           
      
            <div class="clearfix"></div>
          
          
        
          <!--login-->
      
      <!--content-->
      
      <!-- contact -->