<div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li class="active">Employee Details</li>
      </ol>
    </div>
  </div>
  <!-- //breadcrumbs -->
  <div class="products">
    <div class="container">
      <div class="agileinfo_single">
        <div class="w3ls-section banner-single">
          
       
        <div class="col-md-8 agileinfo_single_right">
            <div class="w3ls-section">
                <div class="container">
                    <div class="col-md-6 inner-banner">
                        <div class="col-md-4 agileinfo_single_left">
                            <img id="example" src="uploads/{{ppic}}" alt=" " class="img-responsive">
                          </div>
                        <h4 class="title-about about text-center">
                            <h2>{{name}}</h2>
        
                            <div class="w3agile_description">
                             
                              <h4>Address: {{address}}</h4>
                  
                              <h4>City: {{cityname}}</h4>
                  
                              <h4>Category: {{cat}}</h4>
                             
                              <h4>Sub-Category: {{subcat}}</h4>
                  
                              <h4>Phone: {{phone}}</h4>
                              
                              <h4>Experience: {{exp}}</h4>
                  
                              <h4>Charges: Rs.{{charges}}</h4><br/>
                             
                              <h3 style="color:blue;"><input type="submit" name="submit" value="Complete Booking" class="button" 
                              (click)="onempclick()"></h3>
                                  <br> {{msg}}
                               
                          </div>
                        
 
        
                        </h4>
                    </div>
        
          </div>

          
            
         
          
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
