
	<!--content-->
    <div class="content">
     <div class="login">
        <div class="main-agileits">
         <div class="form-w3agile">
           <div class="services w3ls-section">
               <div class="container">
                  <div class="col-sm-offset-3 col-sm-5">
                    <h5 class="main-title">Manage Sub category</h5>
                   
               
                <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
                  <select name="cat" [(ngModel)]="cat" class="form-control">
                    <option value="">Choose Category</option><br/>
                    <option *ngFor="let x of allcategory" value="{{x._id}}">{{x.cname}}</option>
                  </select>  
                </div>
                  <div class="key">
                    <input  type="text" class="form-control" placeholder="Sub Category Name" name="scname" [(ngModel)] ="scname" onfocus="this.value = '';" onblur="if (this.value == '') " required="">
                    <div class="clearfix"></div>
                  </div>
                  <div class="key">  
                    <input  type="file" name="scatpic" (change) ="fileselected($event)" onfocus="this.value = '';" onblur="if (this.value == '') " required="">
                    <div class="clearfix"></div>
                  </div>
                  <input type="submit" value="Add" name = "s1" (click) ="onscatadd()">
                <br/>{{msg}}
                
                <div class="services w3ls-section">
                    <div class="container">
                    <div class="col-sm-offset-0 col-sm-6">
                    <h5 class="main-title">Already added subcategories</h5>
                    </div>
                </div>
               
                  <div class="col-md-12 serv-grid2">
                          <div *ngFor ="let x of allsubcategory">
                              <div class="col-md-3 serv-sub1">
                              <img src="uploads/{{x.scatpic}}" alt="" />
                              <h5>{{x.scname}}</h5>
                              <h6><a routerLink = "#" (click) ="oncatupdate(x._id,x.scname,x.scatpic)">Update</a></h6>
                              <h6><a routerLink = "#" (click) ="oncatdelete()">Delete</a></h6>
                            </div>
        </div>
              
             
           

              </div>
          </div>
          </div>
            <!--login-->
        </div>
        <!--content-->