<div class="breadcrumbs-w3l">
		<div class="container">
			<span class="breadcrumbs">
				<a href="index.html">Home</a> |
				<span>Contact Us</span>
			</span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- contact -->
	<div class="w3ls-section banner-single">
		<div class="container">
			<h4 class="main-title">contact us</h4>
			<div class="about-inner-main">
							<!-- <div class="col-md-6 contact-left"> -->
								<div class="col-sm-offset-3 col-md-8 w3layouts-reg-form contact-form-row-agileinfo">
							
							<!-- <div class="col-md-6 w3layouts-reg-form contact-form-row-agileinfo"> -->
							
							  <form action="#" method="post" class="banner_form contact-inner-form">
								<!-- <div class="contact-form-left contact-field1"> -->
										<div class="sec-right">
												<label class="contact-form-text">Email Address</label>
											  <input placeholder="xxx@xx.com " name="email" type="text"  [(ngModel)] ="un" required="">
											</div>
									<div class="sec-left">
								   <label class="contact-form-text">Name</label>
									<input placeholder="Name " name="name" type="text" [(ngModel)] ="name" required="">
								  </div>
								  
							
								 
								  <div class="sec-right">
									  <label class="contact-form-text">Subject</label>
									<input placeholder="xxxxxx " name="subject" type="text" [(ngModel)] ="sub" required="">
								  </div>
								 
								  <div class="form-tx contact-field3">
										<label class="contact-form-text">Message</label>
										<textarea placeholder="your message" name = "message" [(ngModel)] = "mssg" required=""></textarea>
									</div>
								
								  <div class="sec-right">
										<label class="contact-form-text">Query</label>
									  <input placeholder="xxxxxx " name="Query" type="text" [(ngModel)] ="query" required="">
									</div>
								   
								  
								<div class="contact-form-right contact-field2">
								  <input type="submit" value="Submit" (click) = "contactus()">
								</div>
								{{msg}}
					  
							<div class="clearfix"></div>
						 
		<!-- <div class="col-sm-offset-3 col-md-8 w3layouts-reg-form contact-form-row-agileinfo">
       
				 <div class="col-md-6 w3layouts-reg-form contact-form-row-agileinfo"> 
					<h4 class="form-con-txt">send us a mail</h4>
					<form action="#" method="post" class="banner_form contact-inner-form">
						<div class="contact-form-left contact-field1">
							<div class="sec-left">
								<label class="contact-form-text">Name</label>
								<input placeholder="your name " name="first name" type="text" required="">
							</div>
							<div class="sec-right">
								<label class="contact-form-text">Email</label>
								<input placeholder="xxx@xx.com " name="first name" type="email" required="">
							</div>
						</div>
						<div class="contact-form-right contact-field2">
							<input type="submit" value="send message" (click)="contactus()">
						</div>
						<div class="sec-right">
								<label class="contact-form-text">Subject</label>
								<input placeholder="subject " name="sub" type="sub" required="">
							</div>
							<div class="sec-right">
									<label class="contact-form-text">query</label>
									<input placeholder="query" name="query" type="email" required="">
								</div>
						<div class="clearfix"></div>
						<div class="form-tx contact-field3">
							<label class="contact-form-text">Address</label>
							<textarea placeholder="your address" required=""></textarea>
						</div>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div> -->
	<!-- contact -->
	<!-- <div class="w3ls-section app-head">
		<div class="container">
			<div class="col-md-4 col-sm-4 app-mobile">
				<img src="images/mobile.png" alt="" class="img-responsive" />
			</div>
			<div class="col-md-8 col-sm-8 app-main">
				<h6>home services at your
					<span>finger tips!</span>
				</h6>
				<div class="app-form">
					<p>get the SMS link to download free app </p>
					<form action="#" method="post" class="banner_form">
						<div class="sec-left">
							<input placeholder="Enter your mobile #" name="first name" type="text" required="">
						</div>
						<input type="submit" value="get the app">
						<div class="clearfix"></div>
					</form>
				</div>
				<ul class="app-links">
					<li>
						<a href="#">
							<img src="images/1.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/2.png" alt="">
						</a>
					</li>
				</ul>

			</div>
			<div class="clearfix"></div>
		</div>
	</div> -->