<div class="checkout">
    <div class="container">
                                                   
         <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Order No</th>	
                        <th>Payment Mode</th>
                        <th>Address</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Update Status</th>
                        <!-- <th>Delete</th> -->
                    </tr>
                </thead>
                <tr class="rem1" *ngFor="let x of orders;let i=index">
                    <td class="invert">{{i+1}}</td>
                    <td class="invert"><a routerLink="/orderdetails" [queryParams]="{orderid: x._id}">{{x._id}}</a></td>
                    <td class="invert">{{x.paymentmode}}</td>
                    <td class="invert">{{x.address}}</td>
                    <td class="invert">{{x.orderdate}}</td>
                    <td class="invert">{{x.orderamount}}</td>
                    <td class="invert">{{x.status}}</td>
                    <td class="invert"><a routerLink="/updatestatus" [queryParams]="{orderid: x._id, st:x.status}">Update</a></td>
                    <td class="invert">
                    <!-- <div class="rem">
                     <a routerLink = "#" (click)="ondel(x._id)">Delete</a>
                    </div> -->
                   </tr> 
            </table>
        </div>
       </div>
        
    </div>