<!-- login -->
<div class="banner-btm">
  <div class="container">
    <div class="banner-bottom-main">
      <!-- <div class="col-md-4 banner-btmg1"> -->

        <!-- <div class="form-text">
          <h3>Looking for a Handyman?</h3>
          <p>We solve your Home repair needs!</p>
          <img src="images/f1.png" alt="" />
        </div>
        <form action="#" method="post" class="banner_form">
          <div class="sec-left">
            <label class="contact-form-text">Name</label>
            <input placeholder="your name " name="first name" type="text" required="">
          </div>
          <div class="sec-right">
            <label class="contact-form-text">Email</label>
            <input placeholder="xxx@xx.com " name="first name" type="email" required="">
          </div>
          <div class="sec-left">
            <label class="contact-form-text">Mobile no.</label>
            <input placeholder=" XXXXXX" name="first name" type="text" required="">
          </div>
          <div class="form-tx">
            <label class="contact-form-text">Address</label>
            <textarea placeholder="your address" required=""></textarea>
          </div>
          <div class="form-select sec-right">
            <label class="contact-form-text">Select Service</label>
            <div class ="sec-right">
              <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
                 <select name="cat" [(ngModel)]="cat" class="form-control" (change) ="fetchSubCategories()"  >
                 <option value="">Choose Category</option>
                 <option *ngFor="let x of allcategory" value="{{x._id}}">{{x.cname}}</option>
                 </select>
                 </div>
               </div> 
           <div class="form-select sec-right">
            <label class="contact-form-text">Select Sub Service</label>
                  <div class ="sec-right">
               <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s"></div>
                <select name="subcat" [(ngModel)]="subcat" class="form-control">
                 <option value="">Choose Sub-Category</option>
                   <option *ngFor="let x of allsubcat" value="{{x._id}}">{{x.subcatname}}</option>
                 </select><br/>
                 </div>
                 </div>
                 </div>

          
          <input type="submit" value="Submit">
        </form>
      </div> -->
      <div class="col-md-8 banner-btm-grid2">
        <div class="col-md-4 banner-grid2">
          <div class="banner-subg1">
            <h3>maintenance</h3>
            <p>To provide customers with best of the service experience for home maintenance.</p>
            <span class="fa fa-cog" aria-hidden="true"></span>
          
          </div>
          <div class="banner-subg1">
            <h3>cleaning</h3>
            <p>To provide customers with cleaning services that makes them want us more.</p>
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
           
          </div>

        </div>
        <div class="col-md-4 banner-grid2">
          <div class="banner-subg1">
            <h3>repair</h3>
            <p>To provide customers with home repair service experience that delights them and become their best-handy-friend.</p>
            <span class="fa fa-yelp" aria-hidden="true"></span>
            
          </div>
          <div class="banner-subg1">
            <h3>improvement</h3>
            <p>To help customers with home improvement service experience that helps them.</p>
            <span class="fa fa-gg" aria-hidden="true"></span>
           
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="w3ls-section">
  
      <div class="col-md-12 inner-banner">
          <h4 class="title-about about text-center">Welcome to our website
          </h4>
      </div>

<!-- //banner bottom -->
<!-- about -->
<div class="agile-about-main">
  <div class="col-md-4 about-left">
    <div class="about-main-bg text-center">
      <h4 class="about-title">Why</h4>
      <h4 class="sub">
        <span>c</span>hoose
        <span>u</span>s?</h4>
    </div>
  </div>
  <div class="col-md-8 about-bottom-g1">
    <h4>One Stop Solution for your Complete Home Maintenance</h4>
    <!-- <h4>get easy home repairs and upgrades with professional home service providers</h4> your complete home solution.-->
    <div class="about-grid">
      <div class="about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-check"> </span>
        </div>
        <div class="about-bottom">
          <h5>Vision</h5>
          <p>Provide you the best</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive  fa fa-book"> </span>
        </div>
        <div class="about-bottom">
          <h5>Affordable</h5>
          <p>Services provided are cheap and efficent</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class=" about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-photo"> </span>
        </div>
        <div class="about-bottom">
          <h5>Quality</h5>
          <p>Best of the quality provided</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class=" about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-briefcase"> </span>
        </div>
        <div class="about-bottom">
          <h5>24*7 support</h5>
          <p>Provide at your doorstep anytime</p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="abt-img">
      <img src="images/a1.png" alt="" class="img-responsive" />
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
</div>

<!-- //about -->
<!--  about bottom -->
<div class="w3ls-section">
<div class="container">
  <div class="main-bottom">
    <div class="col-md-6 col-sm-6 mb-left">

    </div>
    <div class="col-md-6 col-sm-6 mb-right">
      <h4>service you can trust</h4>
      <p>protect all your home appliances & systems.</p>
      <a routerLink="/showcategory">view all services</a>
    </div>

  </div>
</div>
</div>
<!-- //banner -->

